:root {
    --primary-color: rgb(221, 197, 59);
    --secondary-color: rgb(55, 0, 128);
    font-size: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.primary {
    background-color: var(--primary-color);
    padding: .7rem 3rem;
    border-radius: 20px;
    letter-spacing: .05rem;
}

.secondary {
    background-color: var(--secondary-color);
    padding: .7rem 3rem;
    border-radius: 20px;
    letter-spacing: .05rem;
}

.container {

    width: 90%;
    margin: auto;
    padding: 2rem 0;
}

header {
    background-color: #2c27279f;
    color: #fff;
}

header img {
    width: 200px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;
}

nav img {
    height: 3rem;
    width: 3rem;
}

nav a {
    color: #fff;
    margin-left: 1rem;
    text-decoration: none;
    font-weight: bold;
}