.search-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.suggestions {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
}


.suggestions li {
  padding: 8px;
  cursor: pointer;
  color: black;
}


.suggestions li:hover {
  background-color: #f0f0f0;
}

.label {
  font-size: 12px;
  color: #888;
  margin-left: 8px;
}

.selected-tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background-color: #e0e0e0;
  padding: 6px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.type {
  font-size: 12px;
  margin-left: 6px;
  color: #555;
}

.tag button {
  background: none;
  border: none;
  margin-left: 6px;
  cursor: pointer;
  font-weight: bold;
}
