@if (user$ | async; as user) {
<section class="top-section">
    <img src="{{ user?.imgUrl }}" alt="">
    <h1>{{ user?.name }}</h1>
    <div class="traits-container">
        @for (trait of user?.traits; track $index) {
        <p>{{ trait.name }}</p>
        }
    </div>
</section>

<div class="message-section">
    @if (isEditingMessage) {
        <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
            <textarea formControlName="content" placeholder="Message"></textarea>
            <button type="submit" [disabled]="messageForm.pristine">Envoyer</button>
        </form>
    } @else {
        <button (click)="editMessage()">Envoyer un message</button>
    }
</div>

<p id="bio">{{ user?.bio }}</p>

<div id="infos">
    <div class="info">
        <h2>Location</h2>
        <p>{{ user?.city }}</p>
    </div>
    <div class="info">
        <h2>Utilisateur depuis</h2>
        <p>{{ user?.createdAt | date }}</p>
    </div>
</div>

<div id="favorites">
    <section class="favorites-section">
        <h2>Jeux favoris</h2>
        <div class="games-list">
            @for (game of user?.favoritesGames; track $index) {
            <app-game-card [game]="game"></app-game-card>
            }
        </div>
    </section>
    
    <section class="favorites-section">
        <h2>Endroits favoris</h2>
        <div class="places-list">
            @for (place of user?.favoritesPlaces; track $index) {
            <app-place-card [place]="place"></app-place-card>
            }
        </div>
    </section>
</div>
}