

.primary {
    background-color: var(--primary-color);
    padding: .7rem 3rem;
    border-radius: 20px;
    letter-spacing: .05rem;
}

.secondary {
    background-color: var(--secondary-color);
    padding: .7rem 3rem;
    border-radius: 20px;
    letter-spacing: .05rem;
}

.container {

    width: 90%;
    margin: auto;
    padding: 2rem 0;
}