.active-filters {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.type {
  font-size: 0.8em;
  margin-left: 5px;
  color: #666;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
