<h1>Recherchez un événement</h1>

<app-search-bar (filtersChanged)="addfilter($event)"></app-search-bar>

@if (filters.length > 0) {
<div class="active-filters">
  @for (filter of filters ; track filter.name) {
  <span class="tag">
    {{ filter.name }}
    <span class="type">{{ filter.type }}</span>
    <button (click)="deleteFilter(filter)">×</button>
  </span>
  }
  <button (click)="deleteAllFilters()">Effacer tous les filtres</button>
</div>
}

@if (meetups$ | async; as meetups) {
  @if (meetups.length === 0) {
    <h2>Aucun événement ne correspond à votre recherche</h2>
  } @else {
    <div class="meetup-container">
      @for (meetup of meetups; track meetup.id) {
        <app-meetup-card [meetup]="meetup"></app-meetup-card>
      }
    </div>
  }

}


@if (meetupNumber > pageSize ) {
<div class="pagination">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Précédent</button>
  <span>Page {{ currentPage }}</span>
  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage * pageSize >= meetupNumber">Suivant</button>
</div>
}