<h1>Boîte de réception</h1>

<div class="messages-container">
    <div class="senders-container">
        @for (user of interlocutors$ | async; track $index) {
            <button class="sender" (click)="displayChat(user.id)">
                <app-user-card [user]="user"></app-user-card>
            </button>
        }
    </div>
    @if (currentInterlocutorId) {
    <div class="chat-container">
        <app-chat-box
        [messages$]="messages$"
        (sendMessageEvent)="sendMessage($event)">
    </app-chat-box>
    </div>
    }
</div>